.account {
  min-height: calc(100vh - 8.3rem);

  h1 {
    margin: -7rem 0 2rem;
  }

  h3 {
    text-align: left;
    margin: 2rem 0 1rem;
  }

  .user-img {
    width: 100%;
    padding: 1rem;
    object-fit: contain;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .reset {
    margin-top: 2rem;
  }
}

@media (max-width: 599.9px) {
  .grid-img {
    display: flex;
    justify-content: center;
  }
  .user-img {
    width: 120px !important;
    height: 120px !important;
  }
}
